/*=============================================
=                 Variables                  =
=============================================*/

:root {
  --c-black: #191919;
  --c-dark: #333333;
  --c-dark-grey: #4d4d4d;
  --c-grey: #808080;
  --c-white: #ffffff;
  --c-class: #f2b661;
  --c-element: #d96c57;
  --c-property: #4cbf99;
  --c-value: #f2b661;
  --c-id: #4c9dbf;
  --c-important: #b64cbf;
  --c-grad--transparent: rgba(255, 255, 255, 0);
  --c-grad--neutral: rgba(208, 255, 241, 0.5);
  --c-grad--green: #11ec70;
  --c-grad--yellow: #ffe93c;
  --c-grad--red: #ff3535;

  --grid-base: 8px;
  --grid-max-width: 1260px;

  --font-headings: "Raleway", sans-serif;
  --font-text: "IBM Plex Serif", serif;
  --font-code: "Fira Mono", monospace;
}

/*=====  End of Variables  ======*/

/*=============================================
=            Browser reset                    =
=============================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid red;
}

html {
  font-size: calc(var(--grid-base) * 2);
  font-family: var(--font-text);
}

@for $i from 1 through 3 {
  h#{$i} {
    font-family: var(--font-headings);
  }
}

pre,
code {
  font-family: var(--font-code);
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=====  End of Browser reset  ======*/

body {
  background-color: var(--c-black);
  color: var(--c-white);

  // @supports (-moz-appearance: meterbar) {
  //   overflow-x: hidden;
  // }
}

/*=============================================
=                  Container                  =
=============================================*/

.container {
  margin: 0 auto;
  margin-bottom: calc(var(--grid-base) * 9);
  padding: 0 1rem;
  max-width: calc(var(--grid-max-width) + 2rem);

  &--grid {
    display: grid;
  }
}

/*=====  End of Container  ======*/

.header {
  margin-top: 1em;

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header definition";
    grid-gap: 5em;
  }

  &-title {
    font-size: 4.5em;
    grid-area: header;

    .css,
    .specificity {
      display: block;
    }
  }

  &-description {
    margin-top: 96px;
    grid-area: definition;
  }
}

/*=============================================
=            Chart                           =
=============================================*/

.chart {
  &__scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8em;

    .line {
      width: 80%;
      position: relative;
      border: 1px solid var(--c-dark-grey);
      border-radius: 2px;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        border: solid var(--c-dark-grey);
        border-width: 0 2px 2px 0;
        display: inline-block;
        transform-origin: center;
        border-radius: 2px;
      }

      &:after {
        right: 0;
        transform: rotate(-45deg) matrix(1, 0, 0, 1, 5, -5);
      }

      &:before {
        left: 0;
        transform: rotate(135deg) matrix(1, 0, 0, 1, -5, 5);
      }
    }
  }

  &__graph {
    background: linear-gradient(
      90deg,
      var(--c-grad--transparent) 0%,
      var(--c-grad--neutral) 12%,
      var(--c-grad--green) 40%,
      var(--c-grad--yellow) 70%,
      var(--c-grad--red) 100%
    );
    height: 0.8em;
    width: 100%;
    border-radius: 0.4em;
    margin-bottom: 1.2em;
  }

  &__scale-labels {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-headings);
    font-weight: 400;
    letter-spacing: 1px;
  }
}

/*=====  End of Chart  ======*/

/*=============================================
=            Examples                         =
=============================================*/

.examples {
  &__title {
    font-size: 2.5em;
    margin-bottom: 2rem;
  }

  &__description {
    max-width: 25em;
    line-height: 1.8;
    margin-bottom: 2.5em;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid var(--c-dark-grey);
    outline-offset: -1px;

    .cell {
      flex: 1 20%;
      padding: 1em;
      outline: 1px solid var(--c-dark-grey);
      position: relative;
      min-height: calc(var(--grid-max-width) / 5);

      &--legend {
        flex: 1 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        font-size: 0.8em;
        line-height: 1.5;
        min-height: unset;
        color: var(--c-grey);
      }
    }

    .specification-table {
      display: inline-flex;
      flex-wrap: wrap;
      position: absolute;
      width: 40%;
      bottom: 1em;
      right: 1em;

      * {
        flex: 1 16.666%;
        text-align: center;
      }

      .legend {
        color: var(--c-grey);
        font-size: 0.75em;
        margin-bottom: 0.4em;
      }

      .num {
        font-family: var(--font-code);
        color: var(--c-dark-grey);

        &--active {
          color: var(--c-white);
        }
      }
    }
  }

  /**
   *
   * Cell Code
   *
   */

  .code {
    line-height: 1.5;
    color: var(--c-dark-grey);

    .e {
      color: var(--c-element);
    }
    .c,
    .is {
      color: var(--c-class);
    }
    .id {
      color: var(--c-id);
    }
    .i {
      color: var(--c-important);
    }
    .p {
      color: var(--c-property);
    }
    .v {
      color: var(--c-value);
    }
    .atr {
      color: var(--c-grey);
    }
  }
}

/*=====  End of Examples  ======*/
